-var path = '../';
-var head_url = '';
-var head_title = 'Метафорические ассоциативные карты';
-var head_description = 'Программа профессиональной переподготовки с выдачей диплома';
-var styles = path+'css/course.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var libs = path+'js/course-libs.min.js';
-var scripts = path+'js/course.min.js';
-var noref = true;
-var io = true;
-var href = '#prices';

mixin b(cl,href,p, target,id)
	a.button(class=cl href=href target=target id=id)!=p
mixin img(cl,src,alt)
	img(class=cl src!=path+src alt=alt)
mixin gt(cl,h3)
	h3.general-title(class=cl)!=h3
mixin fi(cl,im,n, p)
	.for-item(class=cl)
		+img('for-item-img', path+'img/images/'+im+'-'+n+'.png', p)
		p.for-item-text!=p

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/course/1-main
			include pug/course/2-for
			include pug/course/3-plan
			include pug/course/4-prices
			include pug/course/5-author
			include pug/course/6-revs
		include pug/base/2-footer-course
		include pug/base/3-scripts
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts