-var path = '';
-var head_url = '';
-var head_title = 'Проективный метод современной психологии: Метафорические ассоциативные карты”';
-var head_description = '5-ти дневный онлайн-практикум Жанны Абрамовой';
-var styles = path+'css/styles.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var libs = path+'js/libs.min.js';
-var scripts = path+'js/scripts.min.js';
-var noref = true
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var io = true;
-var href = 'javascript:void(0);';

mixin b(cl,href,p)
	a.button(class=cl href=href onclick="awoOpenFormModal(37)")!=p
mixin img(cl,src,alt)
	img(class=cl src!=src alt=alt)
mixin gt(cl,h3)
	h3.general-title(class=cl)!=h3
mixin fi(cl,im,n, p)
	.for-item(class=cl)
		+img('for-item-img', 'img/images/'+im+'-'+n+'.png', p)
		p.for-item-text!=p

<?php require('date/date.php');?>
doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
		|
		| <!-- Meta Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script',	'https://connect.facebook.net/en_US/fbevents.js');fbq('init', '1506781773238887');fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src!="https://www.facebook.com/tr?id=1506781773238887&ev=PageView&noscript=1")
		|
		| <!-- End Meta Pixel Code -->
	body
		script
			window.YaAuthSuggest.init({client_id: '1aa15e73c84b4ee0b6b939e0cfa9a6fb',response_type: 'token',redirect_uri: 'https://shop.iomp.ru/shop/integration/admin/processtoken'},https://shop.iomp.ru/,{view: "button",parentId: "buttonContainerId",buttonSize: 'm',buttonView: 'main',buttonTheme: 'light',buttonBorderRadius: "0",buttonIcon: 'ya',}).then(({handler}) => handler()).then(data => console.log('Сообщение с токеном', data)).catch(error => console.log('Обработка ошибки', error))
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main/1-main
			include pug/main/2-plan
			include pug/main/3-video
			include pug/main/4-for
			include pug/main/5-why
			include pug/main/6-author
			include pug/main/7-revs
		include pug/base/2-footer
		include pug/base/3-scripts
		<script src="https://shop.iomp.ru/?r=fp/admin/getformscript&id=37&vc=536853ff5ba5bdba63b77d744f9d7f15&popup=1&hideButton=1"></script>
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts